{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    .card {
        background-color: #17252a; 
        color : #feffff;
        margin-top: 150px;
        width: 600px
    }
    .btn-custom{
        background-color: #2b7a78;
        color: #feffff;
    }
</style>
<div class="card mx-auto" style="width: 600px;">
    <div class="card-body">
        <h1 class="card-title" style="text-align: center;">Edit Product</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Edit Product" class="btn btn-custom btn-block">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

{% endblock %}
