{% extends 'base.html' %}
{% block content %}
<style>
    .custom-navbar-color {
        background-color: #17252a;
        color : #feffff;
        margin-bottom: 40px
    }
    .card {
        background-color: #17252a; 
        color : #feffff;
    }
    .card div {
        border-top: 1px solid #feffff; /* This adds a line at the top of each div */
        padding-top: 10px; /* Optional: Adds some space between the content of the div and the border for better visual appeal */
        margin-top: 10px; /* Optional: Adds some space between divs */
    }
    .card div:first-child {
        border-top: none;
    }
    .btn-custom{
        background-color: #2b7a78;
        color: #feffff;
    }
</style>

<nav class="navbar navbar-expand-lg custom-navbar-color">
    <div class="container-fluid">
      <h3>Welcome back {{name}}!</h3>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <a class="nav-link disabled" aria-disabled="true" style="color: #faffff;">Class:{{class}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true" style="color: #faffff;">Last login session: {{last_login}}</a>
              </li>
        </ul>
        </div>
      <a class="navbar-brand custom-navbar-color" href="{% url 'main:logout' %}">Logout</a>
    </button>
    </div>
</nav>

<h1 style="text-align: center;">Rakha's Inventory Page</h1>

<h5>Application Name:</h5>
<p>{{ application_name }}</p>


{% comment %} Below is how to show the product data {% endcomment %}
<div class = "row" id="product_table"></div>
<br />

<a href="{% url 'main:create_product' %}">
    <button class="btn btn-custom btn-lg">
        Add New Product
    </button>
</a>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #17252a;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label" >Name:</label>
                        <input type="text" class="form-control" id="name" name="name" style="background-color: #faffff;"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Category:</label>
                        <input type="text" class="form-control" id="category" name="category" style="background-color: #faffff;"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount" style="background-color: #faffff;"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description" style="background-color: #faffff;"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }
    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = ``;
        products.forEach((item) => {
            let deleteUrl = `/delete/${item.pk}/`
            let editUrl = `/edit-product/${item.pk}/`
            htmlString += `\n<div class="col-md-4 mb-3 text-black">
                <div class="card" style="width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">${item.fields.name}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Category</h5>
                        <p class="card-text">${item.fields.category}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Amount</h5>
                        <p class="card-text">${item.fields.amount}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">${item.fields.description}</p>
                    </div>
                    <div class="card-body">
                    <a href="${editUrl}">
                        <button class="btn btn-custom btn-sm" type="submit">
                            Edit
                        </button>
                    </a>
                    <a href="${deleteUrl}">
                        <button class="btn btn-custom btn-sm" type="submit">
                            Delete
                        </button>
                    </a>
                </div>
                </div>
            </div>` 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    refreshProducts()
    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct
</script>
{% endblock content %}