{% extends 'base.html' %}
{% block content %}
<h1>Rakha's Inventory Page</h1>

<h5>Application Name:</h5>
<p>{{ application_name }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>

    {% comment %} Below is how to show the product data {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.description}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>
{% endblock content %}